<h1>Team</h1>
<p>La dream Team</p>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ilyes</h5>
      <p class="card-text">BlaBlaBla</p>
    </div>

  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Wally</h5>
      <p class="card-text">BliBliBli</p>
    </div>

  </div>


  </div>
</div>